<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/style1.css"/>
    <title>Mechaa-Vehicle Services</title>
  </head>
  <body>
    <header class="header">
      <nav>
        <div class="nav__bar">
          <div class="logo nav__logo">
            <a href="#"><img src="/assets/webLogo.png" alt="logo" /></a>
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-3-line"></i>
          </div>
        </div>
        <ul class="nav__links" id="nav-links">
          <li><a href="#home">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#price">BOOK-SERVICE</a></li>
          <li><a href="/signup-mechanic">Mechanic Sign Up</a></li>
          <button class="btn"><a href="/signup">SIGN-UP</a></button>
          <button class="btn"><a href="/login">SIGN-IN</a></button>
        </ul>
      </nav>
      <div class="section__container header__container" id="home">
        <div class="header__content">
          <h1>Welcome to MechAA </h1>
          <h3></h3>
          <div class="header__btn">
            <button class="btn">Explore-Us</button>
          </div>
        </div>
      </div>
    </header>
    


    

    <section class="banner__container">
      <div class="banner__card">
        <h4>Guaranteed Satisfaction</h4>
      </div>
      <div class="banner__card">
        <h4>we care for you.</h4>
      </div>
      <div class="banner__image">
        <img src="/assets/handshake (2).jpg" alt="banner" />
      </div>
    </section>

    <section class="section__container experience__container" id="about">
      <div class="experience__image">
        <img src="/assets/cm3.jpg" alt="experience" />
      </div>
      <div class="experience__content">
        <p class="section__subheader"><b>>ABOUT US</b></p>
        <h2 class="section__headerr">
          We are an Information Technology Students.
        </h2>
        <p class="section__descriptionn">
          we have created this website for Booking a Nearby Mechanic when you get stuck in a journey.We also provide a car washing at your doorstep.
        </p>
        <button class="btn">Read More</button>
      </div>
    </section>

    <section class="service" id="service">
      <div class="section__container service__container">
        <p class="section__subheader">We Provide</p>
        <h2 class="section__header">Great Car Services</h2>
        <p class="section__description">
          Ensuring Your Automobile will keep running smoothly.
        </p>
        <div class="service__grid">
          <div class="service__card">
            <img src="/assets/car wires.jpg" alt="service" />
            <h4>Electrical Malfunctioning</h4>
            <p>
                Troubleshooting and repair of your vehicle’s electrical issues to ensure smooth and reliable performance.
            </p>
          </div>
          <div class="service__card">
            <img src="/assets/enngine diagnostic.jpg" alt="service" />
            <h4>Engine Diagnostic</h4>
            <p>
                In-depth analysis of engine health using advanced diagnostic tools to keep your vehicle running efficiently.
            </p>
          </div>
          <div class="service__card">
            <img src="/assets/oil exchange.jpg" alt="service" />
            <h4>Oil Exchange</h4>
            <p>
                Quick and high-quality oil change services to enhance engine performance and prolong vehicle life.
            </p>
          </div>
          <div class="service__card">
            <img src="/assets/parts replacement.jpg" alt="service" />
            <h4>Parts replacement</h4>
            <p>
                Professional replacement of worn-out parts with quality components for optimum safety and performance.
            </p>
          </div>
        </div>
      </div>
    </section>

    

    <section class="section__container price__container" id="price">
      <p class="section__subheader"><b>BOOK</b></p>
      <h2>YOUR SERVICE</h2>
      <p class="section__description">
        Here, you can Book a Mechanic in an emergency or you can book a Car-Washing Service.
      </p>
      <div class="price__flex">
        <div class="price__card">
          <h4>Book Mechanic</h4>
          <h3>Anywhere</h3>
          <p>Puncture</p>
          <p>Electric Malfunctioning/<br>Heating Issues</p>
          <p>Oil change</p>
          <p>Parts Repair</p>
          <p>Engine Diagnosis</p>
          <button class="btn">Book</button>
        </div>
       
        <div class="price__card">
          <h4>Book </h4>
          <h3>Car Washer</h3>
          <p>External Cleaning</p>
          <p>Internal Cleaning</p>
          <p>Vaccum Cleaning</p>
          <p>Routine Checkup</p>
          <p>Polishing</p>
          <button class="btn">Book</button>
        </div>
      </div>
    </section>

    <section class="contact">
      <div class="section__container contact__container">
        <div class="contact__content">
          <p class="section__subheader">CONTACT US</p>
          <h2 class="section__header"></h2>
          <p class="section__description">
            Please give your feedbacks about our services as it helps us to identify it and correct it.
          </p>
          <div class="contact__btns">
            <button class="btn">Our Services</button>
            <button class="btn">Contact Us</button>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container testimonial__container" id="client">
      <p class="section__subheader">CLIENT TESTIMONIALS</p>
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="testimonial__card">
              <img src="/assets/user.png" alt="testimonial" />
              <p>
                Excellent Service.I booked a mechanic within 20 Minutes.
              </p>
              <h4>- Saanvi</h4>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial__card">
              <img src="/assets/user.png" alt="testimonial" />
              <p>
               The Car Washing Service is Incredible.They cleaned my car in a Professional way.
              </p>
              <h4>- Ronit</h4>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial__card">
              <img src="assets/testimonial-3.jpg" alt="testimonial" />
              <p>
               My Car never looked better before. I booked a Mechanic and it solved my car heating issue properly.
              </p>
              <h4>- Shubham</h4>
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <footer class="footer" id="footerlinks">
      <div class="section__container subscribe__container">
        <div class="subscribe__content">
          <p class="section__subheader">-Queries</p>
          <h2 class="section__header">welcome to our Website's last section </h2>
          <p class="section__description">
            If you have any query or any doubt regarding our service,Please let us know.
          </p>
        </div>
        <div class="subscribe__form">
          <form action="/">
            <input type="text" placeholder="Your Email" />
            <button class="btn">Submit</button>
          </form>
        </div>
      </div>
      <div class="section__container footer__container">
        <div class="footer__col">
          <div class="logo footer__logo">
            <a href="#"><img src="/assets/weblogo.png" alt="logo" /></a>
          </div>
          <p class="section__description">
           We will help you through lifetime.
          </p>
          <ul class="footer__socials">
            <li>
              <a href="#"><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-google-fill"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-instagram-line"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-youtube-line"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>Our Services</h4>
          <ul class="footer__links">
            <li><a href="#">Book a Mechanic</a></li>
            <li><a href="#">Car Washing</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>Contact Info</h4>
          <ul class="footer__links">
            <li>
              <p>
               Reach us through-
              </p>
            </li>
            <li>
              <p>Phone: <span>+91 123-456-7890</span></p>
            </li>
            <li>
              <p>Email: <span>xyz@gmail.com</span></p>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="footer__bar">
      Copyright © 2024 MechAA. All rights reserved.
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="js/script1.js"></script>
  </body>
</html>